<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Slave-01</name>
  <description>This is slave-01 for Master</description>
  <remoteFS>/home/jenkins-slave-01</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.32.0">
    <host>172.31.0.124</host>
    <port>22</port>
    <credentialsId>ae50cd90-07dd-4042-ac5b-69e115253b96</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>Java</label>
  <nodeProperties/>
</slave>